.menuList {
    display: flex;
    flex-direction: column;
    max-width: 500px !important;
    margin: 0 auto;
    font-family: "Times New Roman", Sans-serif, serif;
    font-size: 1.1em;
}

.menuList > .title {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
}

.menuList > .group {
    display: flex;
    margin: .1em 0 .1em 3.5em;
}

.menuList > .group > div {

}

.menuList > .group > div:last-of-type {
    margin-left: auto;
}